<div hx-ext="bny-nav" nav-side {$toggle} nav-color="white">
    <div class="head">
        <a class="logo-box" href="/admin">
            <div class="logo">
                <img src="/icon.png" alt="logo">
            </div>
            <span>后台管理系统</span>
        </a>
    </div>
    <ul class="menu">
        <li class="show">
            <a class="trigger" href="{:url('admin.index.home')}" tip="仪表盘" admin-tab
                data-url="{:url('admin.index.home')}" data-title="仪表盘">
                <i class="bny-icon icon-home"></i>
                <span>仪表盘</span>
            </a>
        </li>
        {:menuTree($menu)}
        <!-- <li>
            <div class="trigger" tip="系统设置" admin-tab>
                <i class="bny-icon icon-setting"></i>
                <span>系统设置</span>
                <i class="bny-icon icon-arrowright"></i>
            </div>
            <ul class="sub-menu">
                <li>
                    <a class="trigger" href="{:url('admin.system.base')}" admin-tab
                        data-url="{:url('admin.system.base')}" data-title="基础设置">
                        <span>基础设置</span>
                    </a>
                </li>
                <li>
                    <a class="trigger" href="{:url('admin.attachment.view')}" admin-tab
                        data-url="{:url('admin.attachment.view')}" data-title="附件管理">
                        <span>附件管理</span>
                    </a>
                </li>
                <li>
                    <a class="trigger" href="{:url('admin.menu.view')}" admin-tab data-url="{:url('admin.menu.view')}"
                        data-title="菜单管理">
                        <span>菜单管理</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="trigger" tip="系统管理">
                <i class="bny-icon icon-crown"></i>
                <span>系统管理</span>
                <i class="bny-icon icon-arrowright"></i>
            </div>
            <ul class="sub-menu">
                <li>
                    <a class="trigger" href="{:url('admin.admin.view')}" admin-tab data-url="{:url('admin.admin.view')}"
                        data-title="管理员">
                        <span>管理员</span>
                    </a>
                </li>
                <li>
                    <a class="trigger" href="{:url('admin.role.view')}" admin-tab data-url="{:url('admin.role.view')}"
                        data-title="角色管理">
                        <span>角色管理</span>
                    </a>
                </li>
            </ul>
        </li> -->
    </ul>
</div>