<div class="p-12">
    <div class="bny-card">
        <div class="head">
            <span><i class="bny-icon icon-setting"></i> 编辑</span>
        </div>
        <div class="body">
            <form id="mine-form" hx-ext="bny-form,bny-alert" hx-post="{:url('admin.role.edit')}?id={$find.id}"
                hx-swap="none" alert-fn="if(data.code==0){bny.tableReload('#table-role')}">
                <div class="form-item">
                    <label>等级选择</label>
                    <div class="input-group">
                        <ul hx-ext="bny-select" select-name="pid" select-value="{$find.pid}" select-required select-tree
                            select-placeholder="选择等级">
                            <li option-value="0" option-parent="0">超级管理员</li>
                            <volist name="list" id="v">
                                <li option-value="{$v.id}" option-parent="{$v.pid}">{$v.name}</li>
                            </volist>
                        </ul>
                    </div>
                </div>
                <div class="form-item">
                    <label class="bny-label">名称</label>
                    <div class="input-group">
                        <input class="bny-input" type="text" name="name" placeholder="请输入名称"
                            autocomplete="current-password" required valid-msg-required="请输入名称" value="{$find.name}" />
                    </div>
                </div>
                <div class="form-item">
                    <label>权限选择</label>
                    <div class="input-group">
                        <ul hx-ext="bny-select" select-name="rule" select-required select-tree select-multiple
                            select-placeholder="选择权限" select-value="{$find.rule}">
                            <each name="rule" key="k" value="v">
                                <eq name="v.app" value="admin">
                                    <li option-value="{$v.name}" option-parent="0" {$v.auth==false?"option-disabled":""}>{$v.title}</li>
                                    <if condition="!empty($v.methods)">
                                        <each name="v.methods" key="kk" value="vv">
                                            <if condition="$vv.auth==true">
                                                <li option-value="admin.{$v.name}.{$vv.name}" option-parent="{$v.name}">
                                                    {$vv.title}</li>
                                            </if>
                                        </each>
                                    </if>
                                </eq>
                            </each>
                        </ul>
                    </div>
                </div>
                <div class="form-item">
                    <label>备注</label>
                    <div class="input-group">
                        <textarea name="note" class="bny-textarea">{$find.note}</textarea>
                    </div>
                </div>
                <div class="form-item">
                    <div class="input-group">
                        <button class="bny-btn" type="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>