<div class="admin-page">
    <form hx-ext="bny-form" hx-post="{:url('admin.system.base')}" hx-swap="none">
        <div class="bny-row" grid-gap="18">
            <!-- 左列：基础设置（手机端自动变一列） -->
            <div class="col-xs12 col-sm6">
                <div class="bny-card">
                    <div class="head">
                        <span><i class="bny-icon icon-setting"></i> 基础设置</span>
                    </div>
                    <div class="body">
                        <div class="form-item">
                            <label class="bny-label">站点logo</label>
                            <div class="bny-input-group" hx-ext="bny-upload">
                                <span class="bny-input-prefix">
                                    <div class="bny-image-group" img-preview-size="24"></div>
                                </span>
                                <input class="bny-input" type="text" name="site_logo" id="site_logo"
                                    value="{$site_logo|default=''}" placeholder="请输入站点logo路径" />
                                <span class="bny-input-suffix bny-btn-group">
                                    <button class="bny-btn" type="button" hx-ext="bny-page"
                                        hx-get="{:url('admin.attachment.select')}?target=site_logo&max=1&type=jpg,jpeg,png"
                                        page-shade title="附件">上传/选择</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="bny-label">站点名称</label>
                            <div class="bny-input-group">
                                <input class="bny-input" type="text" name="site_name" value="{$site_name|default=''}"
                                    placeholder="请输入站点名称" />
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="bny-label">关键词</label>
                            <div class="bny-input-group">
                                <input class="bny-input" type="text" name="site_keywords"
                                    value="{$site_keywords|default=''}" placeholder="请输入关键词" />
                            </div>
                        </div>
                        <div class="form-item" style="margin-bottom:0;">
                            <label class="bny-label">站点描述</label>
                            <div class="bny-input-group">
                                <textarea class="bny-textarea" rows="4" name="site_desc"
                                    placeholder="请输入站点描述">{$site_desc|default=''}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 右列：其他设置（手机端自动变一列） -->
            <div class="col-xs12 col-sm6">
                <div class="bny-card">
                    <div class="head">
                        <span><i class="bny-icon icon-control"></i> 其他设置</span>
                    </div>
                    <div class="body">
                        <div class="form-item">
                            <label class="bny-label">二维码</label>
                            <div class="bny-input-group" hx-ext="bny-upload">
                                <span class="bny-input-prefix">
                                    <div class="bny-image-group" img-preview-size="24"></div>
                                </span>
                                <input class="bny-input" type="text" name="site_qrcode" id="site_qrcode"
                                    value="{$site_qrcode|default=''}" placeholder="请输入二维码路径" />
                                <span class="bny-input-suffix bny-btn-group">
                                    <button class="bny-btn" type="button" hx-ext="bny-page"
                                        hx-get="{:url('admin.attachment.select')}?target=site_qrcode&max=1&type=jpg,jpeg,png"
                                        page-shade title="附件">上传/选择</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="bny-label">上传大小</label>
                            <div class="bny-input-group">
                                <input class="bny-input" type="number" name="upload_size"
                                    value="{$upload_size|default=''}" placeholder="请输入上传大小" />
                                <span class="bny-input-suffix">
                                    MB
                                </span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="bny-label">上传文件</label>
                            <div class="bny-input-group">
                                <input class="bny-input" type="text" name="upload_ext" value="{$upload_ext|default=''}"
                                    placeholder="请输入上传文件" />
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="bny-label">备案号</label>
                            <div class="bny-input-group">
                                <input class="bny-input" type="text" name="icp_record" value="{$icp_record|default=''}"
                                    placeholder="请输入备案号" />
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="bny-label">脚本代码</label>
                            <div class="bny-input-group">
                                <textarea class="bny-textarea" rows="6" name="site_script"
                                    placeholder="请输入脚本代码">{$site_script|default=''}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 提交按钮：单独占一整行 -->
            <div class="col-xs12 col-sm12">
                <button class="bny-btn" type="submit">保存设置</button>
            </div>
        </div>
    </form>
</div>