<div class="admin-page">
    <div class="bny-card">
        <div class="head">
            <span><i class="bny-icon icon-setting"></i> 站点设置</span>
        </div>
        <div class="body">
            <form hx-ext="bny-form" onsubmit="return false;">
                <div class="form-item">
                    <label class="bny-label">站点名称</label>
                    <div class="input-group">
                        <input class="bny-input" type="text" value="KLLXS 个人博客站" />
                    </div>
                </div>
                <div class="form-item">
                    <label class="bny-label">站点描述</label>
                    <div class="input-group">
                        <textarea class="bny-textarea" rows="3">代码与快门之间 —— 一个热爱编程与摄影的个人网站</textarea>
                    </div>
                </div>
                <div class="form-item">
                    <label class="bny-label">备案号</label>
                    <div class="input-group">
                        <input class="bny-input" type="text" value="粤ICP备2021157827号" />
                    </div>
                </div>
                <div class="form-item">
                    <div class="input-group">
                        <button class="bny-btn" type="button">保存设置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>